<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>684105845806-51gbu5bscqghculqvsnq88ocpogqjfnf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.684105845806-51gbu5bscqghculqvsnq88ocpogqjfnf</string>
	<key>API_KEY</key>
	<string>AIzaSyBqX7QbP-nuf9CN5fX6plA5uWfl84iG9OI</string>
	<key>GCM_SENDER_ID</key>
	<string>684105845806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.aragos.tichu-scorer</string>
	<key>PROJECT_ID</key>
	<string>tichu-scorer</string>
	<key>STORAGE_BUCKET</key>
	<string>tichu-scorer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684105845806:ios:0a4a8020a430e514</string>
	<key>DATABASE_URL</key>
	<string>https://tichu-scorer.firebaseio.com</string>
</dict>
</plist>